{% extends "webapp/header.html" %}
{% block content %}
<p>Hey! Welcome to stats of Sales order table!</p>
<table>
<tr>
<td>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Records Stats</h5>
    <h6 class="card-subtitle mb-2 text-muted">Total number of records</h6>
    <p class="card-text">{% include "webapp/includes/displaydata.html" %}</p>
  </div>
</td>
<!-- <td>
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">CSE ID Stats</h5>
    <h6 class="card-subtitle mb-2 text-muted">Total number of CSE ID</h6>
    <p class="card-text">{% include "webapp/includes/cseiddata.html" %}</p>
    
  </div>
</td>
<td>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">SO Stats</h5>
    <h6 class="card-subtitle mb-2 text-muted">Total number of Sales orders</h6>
    <p class="card-text">{% include "webapp/includes/sodata.html" %}</p>
 
  </div>
</td>
<td>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Offer Stats</h5>
    <h6 class="card-subtitle mb-2 text-muted">Distinct offers</h6>
    <p class="card-text">{% include "webapp/includes/offerdata.html" %}</p>
    
  </div>
</td> --> 
<!-- <td>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Offer Wise Stats</h5>
    <h6 class="card-subtitle mb-2 text-muted">Offer wise split</h6>
    <p class="card-text">{% include "webapp/includes/offercountdata.html" %}</p>
     </div>
</td> -->
</tr>
<!-- {% include "webapp/includes/htmlsnippet.html" %} -->
<!-- {% include "webapp/includes/displaydata.html" %} -->
{% endblock %}